<?xml version="1.0"?>

<launch>

    <!-- Include the already created .launch files -->
    <include file="$(find final_assignment)/launch/simulation_gmapping.launch"/>
    <include file="$(find final_assignment)/launch/move_base.launch"/>
    <!-- <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop"/> -->

</launch>
